/* Font-Family: 'PT Sans', Sans-Serif;
Font-Family: 'Bitter', Serif; */

.App {
  text-align: center;
}

.App-header {
  background-color: #F1BB87;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-family: 'Bitter', Serif;
  color: #5D675B;
}
input {
  font-family: 'PT Sans', Sans-Serif;
  font-size: 1em;
  border-radius: 10px;
  color: #505168;
  font-weight: bold;
  padding-left: 5px;
  background-color: #EAEFD3;
}